In [2]:
import pandas as pd
import numpy as np

In [7]:
concrete=pd.read_csv("Concrete Compressive Strength.csv")
concrete.head()

,Cement (component 1)(kg in a m^3 mixture),Blast Furnace Slag (component 2)(kg in a m^3 mixture),Fly Ash (component 3)(kg in a m^3 mixture),Water (component 4)(kg in a m^3 mixture),Superplasticizer (component 5)(kg in a m^3 mixture),Coarse Aggregate (component 6)(kg in a m^3 mixture),Fine Aggregate (component 7)(kg in a m^3 mixture),Age (day),"Concrete compressive strength(MPa, megapascals)"
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075

In [8]:
concrete.rename(columns={'Cement (component 1)(kg in a m^3 mixture)': "cement",
 'Blast Furnace Slag (component 2)(kg in a m^3 mixture)': "blast",
 'Fly Ash (component 3)(kg in a m^3 mixture)': "fly_ash",
 'Water  (component 4)(kg in a m^3 mixture)': "water",
 'Superplasticizer (component 5)(kg in a m^3 mixture)': "superplasticizer",
 'Coarse Aggregate  (component 6)(kg in a m^3 mixture)': "coarse_aggregate",
 'Fine Aggregate (component 7)(kg in a m^3 mixture)': "fine_aggregate",
 'Age (day)':"age",
 'Concrete compressive strength(MPa, megapascals) ':"concrete_compressive"},inplace=True)

In [9]:
concrete

,cement,blast,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age,concrete_compressive
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.284354
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.178794
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.696601
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.768036
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.401235

In [10]:
concrete.isnull().sum()

cement                  0
blast                   0
fly_ash                 0
water                   0
superplasticizer        0
coarse_aggregate        0
fine_aggregate          0
age                     0
concrete_compressive    0
dtype: int64

In [11]:
print(f'The total number of missing values within the dataset is zero there are no null values as \n{concrete.isnull().sum()}')

The total number of missing values within the dataset is zero there are no null values as
cement                  0
blast                   0
fly_ash                 0
water                   0
superplasticizer        0
coarse_aggregate        0
fine_aggregate          0
age                     0
concrete_compressive    0
dtype: int64

In [12]:
concrete_scaled=concrete.drop(["concrete_compressive"],axis=1)
concrete_scaled

,cement,blast,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360
...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28

In [13]:
from sklearn.preprocessing import StandardScaler 
scaler=StandardScaler()

In [14]:
concrete_scaled=scaler.fit_transform(concrete_scaled)

In [15]:
concrete_scaled

array([[ 2.47791782, -0.85688631, -0.84713204, ...,  0.86316012,
        -1.21765845, -0.27973311],
       [ 2.47791782, -0.85688631, -0.84713204, ...,  1.05617041,
        -1.21765845, -0.27973311],
       [ 0.49144303,  0.79553263, -0.84713204, ..., -0.52651395,
        -2.24091255,  3.55306569],
       ...,
       [-1.2700575 ,  0.75958527,  0.85066095, ..., -1.03606111,
         0.08012724, -0.27973311],
       [-1.16857975,  1.3080724 , -0.84713204, ...,  0.21464556,
         0.19118775, -0.27973311],
       [-0.19401043,  0.30850389,  0.37696733, ..., -1.39506025,
        -0.15072887, -0.27973311]])

In [16]:
x=concrete_scaled
y=concrete["concrete_compressive"]

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.70,random_state=20)

In [24]:
from sklearn.linear_model import LinearRegression
lin_model=LinearRegression().fit(x_train,y_train)

In [25]:
y_pred=lin_model.predict(x_test)
y_pred

array([19.65344244, 17.26394862, 29.86927347, 23.8356521 , 52.48674356,
       30.39255823, 12.33492611, 24.66500405, 24.52634131, 31.09991082,
       44.07982682, 53.73340019, 37.94908135, 32.18569281, 44.31784706,
       59.14787898, 23.73299095, 29.1616417 , 48.0910336 , 30.53828124,
       42.91126858, 49.00363633, 69.87668692, 46.23299507, 10.3818602 ,
       23.58429181, 27.75987023, 32.74059379, 27.8897126 , 16.27743663,
       56.59869594, 28.26398421, 13.60931884, 48.0315485 , 52.72032319,
       35.18925844, 30.03518224, 27.65959082, 29.06084677, 30.90982542,
       23.66590824, 43.25150457, 54.12546043, 25.05873499, 28.04886835,
       50.32079226, 30.31334535, 26.95169743, 20.1407687 , 47.67744119,
       30.00949242, 52.40885246, 28.23093198, 30.53871062, 18.92296335,
       19.1834017 , 35.14008297, 31.54340512, 35.92523248, 28.29380523,
       20.58104798, 55.94850441, 27.81198808, 36.13197177, 53.99730569,
       33.68414246, 34.25317636, 32.72585791, 35.045981  , 36.38845481,
       19.00731305, 17.16975267, 22.47614698, 33.31421903, 20.57435575,
       17.58067465, 45.22522162, 40.06349626, 36.27478682, 31.72161295,
       23.90712225, 30.5152479 , 19.25423977, 32.19824535, 22.45688983,
       23.08304541, 32.13664554, 36.22219004, 39.91986412, 33.65477661,
       50.52031671, 25.47031854, 27.413524  , 19.3550167 , 27.6158472 ,
       23.78993304, 25.5621407 , 53.36667363, 25.46162145, 52.40885246,
       29.25068794, 30.36020763, 25.96998475, 18.4733701 , 31.52293815,
       18.51218608, 32.87902396, 60.02608929, 32.05508932, 19.5147251 ,
       32.84751197, 60.11844042, 54.14450352, 35.44447018, 17.18238998,
       50.52031671, 32.14798721, 24.90094618, 23.96245342, 47.78766579,
       55.91969776, 55.90974737, 34.74266716, 17.31944681, 38.25050632,
       26.14228635, 41.36143066, 37.04143094, 49.58458241, 23.74322862,
       48.23846101, 51.8909102 , 22.05377807, 32.11493519, 52.8177094 ,
       27.55580814, 27.50439975, 24.55693956, 49.20947789, 30.52818444,
       45.13371814, 15.07419175, 32.89380841, 35.93042327, 26.48407949,
       27.3991835 , 39.33365331, 49.51694093, 40.3548349 , 43.65486184,
       18.4295084 , 38.63449931, 25.86106626, 59.24810841, 24.7370566 ,
       36.13427874, 52.72032319, 46.44171685, 23.49941416, 30.26007458,
       15.53124526, 28.33536009, 49.08281728, 19.43849268, 40.19672157,
       11.36118217, 36.55220341, 50.94761803, 28.15595877, 14.80620763,
       43.43605778, 30.58230031, 36.16458827, 34.49859668, 52.65816893,
       32.16795695, 38.9583171 , 26.78278711, 51.98411334, 29.11533438,
       62.55395194, 36.1263559 , 32.11549721, 50.63799194, 20.01591711,
       32.22658321, 36.5504492 , 60.11844042, 15.99871601, 35.57153489,
       36.24820069, 53.83736651, 30.20289547, 29.95710154, 36.1422826 ,
       26.6662503 , 21.29272027, 23.14181574, 28.98759425, 26.25367939,
       25.78323846, 29.77979229, 25.94399575, 25.4686558 , 30.26620139,
       28.63471395, 52.35441035, 33.01483693, 43.21630117, 41.66097507,
       57.39241355, 39.22277759, 32.54611212, 45.15414384, 26.11076357,
       29.00954825, 27.85190085, 17.93077619, 31.09018044, 27.83786075,
       52.91984764, 52.91984764, 15.18114372, 42.6406304 , 42.22883132,
       23.95872964, 39.05223821, 33.44629372, 17.23995245, 21.74977378,
       55.68611813, 33.51408325, 35.60988892, 40.12476716, 30.54987001,
       28.03942402, 26.23490434, 30.82134792, 58.41036935, 53.26666518,
       30.99145165, 28.17340204, 62.41388044, 59.68533634, 51.91647186,
       50.53402562, 25.17371606, 36.93385449, 46.80994696, 30.83030367,
       25.08139914, 16.72533647, 33.53089235, 33.5919328 , 27.50362319,
       28.26059719, 24.1493047 , 48.6632304 , 39.68601776, 53.06657221,
       34.06880815, 34.85784548, 32.7007442 , 13.59918508, 39.22235138,
       70.30979326, 39.80147149, 43.79849807, 34.41366722, 37.61304179,
       31.50854635, 49.98845836, 62.40958756, 36.48813738, 24.34340993,
       69.5747669 , 37.16859369, 23.058508  , 25.6398931 , 45.77631307,
       33.20839976, 48.1344947 , 27.84419574, 37.69797124, 38.45425813,
       31.36992873, 60.41294174, 30.3009437 , 57.60883888, 49.57596864,
       52.49877472, 33.87576849, 60.21806793, 48.5480871 , 20.65897707,
       21.86389749, 22.70555627, 39.40703363, 37.74784454, 31.69930668,
       28.9703978 , 27.55757061, 28.17705842, 21.53386826, 27.922351  ,
       34.17006039, 30.87789549, 53.1228851 , 36.86002555])

In [26]:
from sklearn.metrics import r2_score

In [27]:
print(r2_score(y_test,y_pred))

0.6413169456106813